/.idea
/.vscode
/AUTHORS
/ChangeLog
/.env
*.egg-info
*.pyc
/.venv
/test/testdata/env_simple/data/
/test/testdata/env_simple/containers/
/test/testdata/current_test_env
!/src/harbor/project/data/maintenance-mode
/build/
