version: "2"
services:
    #
    # MySQL server
    #
    #  In ./containers/templates/source/mysql put JINJA2 templates of SQL files, they will be compiled to ./containers/templates/compiled/mysql and run on MySQL start
    #  you can create users, databases with this method on MySQL startup, while keeping the passwords in the .env file
    #
    #  --innodb_file_per_table=1 is a secure setting to keep tables separated (in case of disk failure easier to recover data)
    #
    #  All MySQL databases data is stored in "./data/mysql". For backup configuration use "docker_volumes"
    #  (docker_hot_volumes not recommended) with path /var/lib/mysql
    #
    db:
        image: mariadb
        volumes:
            - "./data/mysql:/var/lib/mysql"
            - "./containers/templates/compiled/mysql:/docker-entrypoint-initdb.d/"
        command: mysqld --innodb_file_per_table=1
        environment:
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}


    #
    # MySQL admin panel
    #
    db_mysql_admin:
        image: phpmyadmin/phpmyadmin
        environment:
            - PMA_HOST=db

            # gateway configuration
            - VIRTUAL_HOST=dba.${MAIN_DOMAIN}${DOMAIN_SUFFIX}
            - VIRTUAL_PORT=80
            - LETSENCRYPT_HOST=dba.${MAIN_DOMAIN}${DOMAIN_SUFFIX}
            - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
        expose:
            - "80"
