version: '2'
services:
    app_dashboard:
        image: wolnosciowiec/uptime-admin-board
        environment:
            - UAB_PROVIDERS=${MONITORING_PROVIDERS}
            - UAB_TITLE=Dashboard
            - UAB_EXPOSE_URLS=0
            - UAB_CACHE_TTL=30

            # gateway configuration
            - VIRTUAL_HOST=dashboard.{DOMAIN_SUFFIX}
            - VIRTUAL_PORT=80
            - LETSENCRYPT_HOST=dashboard.${DOMAIN_SUFFIX}
            - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}
        labels:
            org.riotkit.dashboard.enabled: true
            org.riotkit.dashboard.description: 'Applications health monitoring'
            org.riotkit.dashboard.icon: 'pe-7s-angle-down-circle'
            org.riotkit.dashboard.only_for_admin: false
            com.centurylinklabs.watchtower.enable: true
            org.riotkit.useMaintenanceMode: false
