version: "2"
services:
    index:
        image: wolnosciowiec/services-dashboard
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock:ro"
        expose:
            - "80"
        environment:
            # gateway configuration
            - VIRTUAL_HOST=dashboard.${MAIN_DOMAIN}${DOMAIN_SUFFIX}
            - VIRTUAL_PORT=80
            - LETSENCRYPT_HOST=dashboard.${MAIN_DOMAIN}${DOMAIN_SUFFIX}
            - LETSENCRYPT_EMAIL=${LETSENCRYPT_EMAIL}

            - "APP_NAME=${DASHBOARD_TITLE}"
            - APP_ADMIN_TOKEN=${DASHBOARD_ADMIN_TOKEN}
        labels:
            org.docker.services.dashboard.enabled: true
            org.docker.services.dashboard.description: 'Dashboard - a list of all hosted websites running on this network'
            org.docker.services.dashboard.icon: 'pe-7s-browser'
            org.docker.services.dashboard.only_for_admin: false
            com.centurylinklabs.watchtower.enable: true
            org.riotkit.useMaintenanceMode: false
