version: "2"
services:

    #
    # Executes migrations right after database starts, then container stops as it is no longer needed
    #
    db_updater:
        image: mkbucc/shmig:latest
        depends_on:
            - db
        volumes:
            - ./containers/migrations/prod:/sql:ro
            - ./containers/templates/compiled:/templates:ro
        command: -t mysql up
        environment:
            - PASSWORD=${MYSQL_ROOT_PASSWORD}
            - HOST=db_mysql
            - LOGIN=root
            - PORT=3306
            - DATABASE=_migrations
