/.idea
/.vscode
/docs/build
/docs/source/_build
/data/*/
!/data/*/.gitkeep
/data/www-data/*
!/data/www-data/.gitkeep
/containers/templates/*
!/data/templates/.gitkeep
/.env
/AUTHORS
/ChangeLog

/.rkd/cooperative/*
*.log
